<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
    <title>Crear Producto</title>
  
    <main class="mainCreateProduct">
      
        
              <div>
                <h2 class="titleCreateProduct">Crear Productos</h2>
                <h5 class="subtitleCreatProduct">Home > Crear</h5>
              </div>

              <form class='formularioCreateProducts' action="/products/create" method="POST" enctype="multipart/form-data">

                  <div class="editarCP">
                      <label for="name">Nombre del Producto</label>
                      <input class="formatCreateProductInput" type="text" minlength="6" name="name">
                  </div>

                  <div class="editarCP">
                      <label for="description">Descripción del Producto</label>
                      <textarea class="formatCreateProductInput" name="description" id="description" rows="5" cols="50"></textarea>
                  </div>

                  <div class="editarCP">
                    <label for="characteristics">Caracteristicas</label>
                    <textarea class="formatCreateProductInput" name="characteristics" id="characteristics" rows="5" cols="50"></textarea>
                    
                  </div>

                  <div class="editarCP">
                    <label for="sizing">Dimensionamiento</label>
                    <textarea class="formatCreateProductInput" name="sizing" id="sizing" rows="5" cols="50"></textarea>
                  </div>

                  <div class="editarCP">
                    <label for="image">Imagenes</label>
                    <input class="formatFileCP" type="file" name="image1" accept=".jpg, .png" multiple>
                   
                  </div>
                  

                  <div class ='selectContainer'>
                  <div class="editarCP">
                    <label for="categoryProduct">Categoría:</label>
                        <select name="categoryProduct">
                          <% categories.forEach (categories => { %> 
                            <option value="<%= categories.id %>"><%= categories.category %></option>
                          <% }) %> 
                        </select>
                  </div>

                  <div class="editarCP">
                    <label for="color">Colores:</label>
                        <select name="color">
                          <% colors.forEach (color => { %> 
                            <option value="<%= color.id %>"><%= color.color %></option>
                          <% }) %> 
                        </select> 
                  </div>
                  
                  <div class="editarCP">
                    <label for="size">Talles:</label>
                        <select name="size">
                          <% sizes.forEach (sizes => { %> 
                            <option value="<%= sizes.id %>"><%= sizes.size %></option>
                          <% }) %>   
                        </select>
                    </div>
                  </div>
                  <div class="editarCP">
                    <label for="price">Precio</label>
                    <input class="formatCreateProductInputPrice" name="price" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <label for="cantidad">Cantidad</label>
                    <input class="formatCreateProductInputPrice" name="cantidad" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                  <button type="submit" class="buttonCP">Crear</button>
                  </div>
            </form>

       

    </main>
  
  <%- include('partials/footer')  %> 

</body>
</html>