<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
    <title>Editar Producto</title>
  
    <main class="mainCreateProduct">
      
        <div class="contaicontainCreate">
              <div>
                <h2 class="titleCreateProduct">Editar Producto</h2>
                <h5 class="subtitleCreatProduct">Home > Editar</h5>
              </div>

              <form class='formularioCreateProducts' method="POST" action="/products/<%= products.id %>/edit?_method=PUT" enctype="multipart/form-data">

                  <div class="editarCP">
                      <label for="name">Nombre del Producto</label>
                      <input class="formatCreateProductInput" type="text" value="<%=products.name  %> " minlength="6" name="name">
                  </div>

                  <div class="editarCP">
                      <label for="description">Descripción del Producto</label>
                      <input class="formatCreateProductInput" type="text" value="<%=products.description  %>" minlength="6" id="description" name="description">
                  </div>

                  <div class="editarCP">
                    <label for="characteristics">Caracteristicas</label>
                    <input class="formatCreateProductInput" type='text' value="<%=products.characteristics  %>" minlength="6" id="ca" name="characteristics">
                  </div>

                  <div class="editarCP">
                    <label for="sizing">Dimensionamiento</label>
                    <input class="formatCreateProductInput" type='textarea' value="<%=products.sizing  %>" minlength="6" id="ca" name="sizing">
                  </div>

                  <div class="editarCP">
                    <label for="image">Imagen</label>
                    <p>Imagen Principal</p>
                    <% for( let i = 0; i < products.image.length; i++ ) { %>
                      
                      <img class="image" src="/images/products/<%= products.image%> ">
                    <% } %>
                    <input class="formatFileCP" type="file" name="image1" multiple accept=".jpg, .png">
                  </div>

                  <div class="editarCP">
                    <label for="categoryProduct">Categoría:</label>
                      <select name="categoryProduct">
                        <option selected="selected" value="<%=products.categories.category%>"><%=products.categories.category%></option>
                        <% categories.forEach (categories => { %> 
                          <option value="<%= categories.id %>"><%= categories.category %></option>
                        <% }) %> 
                      </select>
                  </div>

                  <div class="editarCP">
                    <label for="color">Colores:</label>
                      <select name="color">
                        <option selected="selected" value="<%=products.colors.color%>"><%=products.colors.color%></option>
                        <% colors.forEach (color => { %> 
                          <option value="<%= colors.id %>"><%= colors.color %></option>
                        <% }) %> 
                      </select> 
                  </div>
                  
                  <div class="editarCP">
                    <label for="size">Talles:</label>
                        <select name="size">
                            <option selected="selected" value="<%=products.sizes.size %>"><%=products.sizes.size %></option>
                              <% sizes.forEach (sizes => { %> 
                                <option value="<%= sizes.id %>"><%= products.sizes.size %></option>
                              <% }) %>   
                            </select>
                    </div>

                  <div class="editarCP">
                    <label for="price">Precio</label>
                    <input class="formatCreateProductInput" name="price" value="<%=products.price  %>" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <label for="cantidad">Cantidad</label>
                    <input class="formatCreateProductInput" name="cantidad" value="<%=products.stock  %>" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                  <button type="submit" class="form-button">Editar</button>
                  <div class="editarCP">

            </form>

          </div>

    </main>
  
  <%- include('partials/footer')  %> 

</body>
</html>